[Desktop Entry]
GenericName=Control interface for Fake
GenericName[fr]=Manettes de commande pour Fake
Name=Controls for Fake
Name[fr]=Manettes de commande pour Fake
Comment=Easy App to make fake a mic
Comment[fr]=Simple application pour créer un faux micros
Categories=Utility;Audio;
Keywords=Audio;pulseaudio;Qt;
Exec=@Prefix@/bin/ControlsForFake
Icon=controlsforfake
Type=Application
Terminal=false
StartupNotify=false
Actions=LaunchStart;
X-DBUS-StartupType=Multi
X-KDE-Shortcuts=Meta+Ctrl+Alt+Shift+C
